[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.11"
django-allauth = "*"
django-extensions = "*"
djangorestframework = "*"
drf-yasg = "*"
psycopg2-binary = "*"
pillow = "*"
django-storages = "*"
gunicorn = "*"
factory-boy = "*"
tqdm = "*"
whitenoise = "*"
django-cors-headers = "*"
python-dotenv = "*"
django-filter = "*"
faker = "*"
pyjwt = "*"
stripe = "*"
py-money = "*"
django-celery-beat = "*"
redis = "*"
django-countries = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.10"
